In [9]:
#Mapping:
#A function that divides a number by 2 and returns the result:
def half(x):
    return x / 2

#Apply to list:
l = [10, 12, 34, 23]
map(half, l)

#The map() function creates a map object which is an iterable object. 
#To create a new list, one option is to convert the iterable into a list.
list(map(half, l))

[5.0, 6.0, 17.0, 11.5]

In [11]:
#Filtering:
#A function that returns true if a number is odd and false if it is even; Use a lambda expression for this:
filter(lambda x: x % 2 == 1, l)

#This returns an iterable, so need to cast it to a list:
list(filter(lambda x: x % 2 == 1, l))

[23]

In [15]:
#Reducing:
#A lambda expression that will take two elements and sum them:
summation = lambda a, b: a + b

#sum all the elements of the list:
from functools import reduce 
l = [10, 12, 34, 23] 
reduce(lambda a, b: a + b, l)

79

In [16]:
#find maximum of a list:
reduce(lambda a, b: a if a > b else b, l)

34

In [17]:
#Functional Programming in Pandas:

import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0 -0.920735  0.732034 -0.306059
1  1.352876 -0.990821 -1.869717
2  0.281068  0.983842  0.633769
3 -1.002031  0.765687  0.023947

In [18]:
#Use the half() function defined earlier and apply it to every cell in the dataframe:
df.apply(half)

          a         b         c
0 -0.460367  0.366017 -0.153029
1  0.676438 -0.495410 -0.934859
2  0.140534  0.491921  0.316884
3 -0.501015  0.382843  0.011973

In [19]:
#Define an aggregate function that will return the range of a column 
#(the difference between the maximum and the minimum values):
def range_func(x):
    return max(x) - min(x)

#Apply the function to dataframe; it will compute the range for each column by default:
df.apply(range_func)

a    2.354907
b    1.974663
c    2.503486
dtype: float64