In [1]:
import pandas as pd

In [2]:
# Import comma-separated variable file
data = pd.read_csv('../vehicles/vehicles.csv')

# Import tab-delimited file
data1 = pd.read_csv('../vehicles/vehicles_tab.txt', sep='\t')

# Import pipe-delimited file
data2 = pd.read_csv('../vehicles/vehicles_pipe.txt', sep='|')

In [3]:
print(data.head())

               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8

   Cylinders     Transmission        Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd  Rear-Wheel Drive                 Midsize Cars

  Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0   Regular          19.388824        18           17            17
1   Regular          25.354615        13           13            13
2   Regular          20.600625        16           17            16
3   Regular          25.354615        13           13            13
4   Premium          20.600625        14           21            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100
3               683.615385            2550
4               555.437500            2550

In [4]:
print(data1.head())

               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8

   Cylinders     Transmission        Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd  Rear-Wheel Drive                 Midsize Cars

  Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0   Regular          19.388824        18           17            17
1   Regular          25.354615        13           13            13
2   Regular          20.600625        16           17            16
3   Regular          25.354615        13           13            13
4   Premium          20.600625        14           21            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100
3               683.615385            2550
4               555.437500            2550

In [5]:
print(data2.head())

               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8

   Cylinders     Transmission        Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd  Rear-Wheel Drive                 Midsize Cars

  Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0   Regular          19.388824        18           17            17
1   Regular          25.354615        13           13            13
2   Regular          20.600625        16           17            16
3   Regular          25.354615        13           13            13
4   Premium          20.600625        14           21            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100
3               683.615385            2550
4               555.437500            2550

In [6]:
# Export comma-separated variable file
data.to_csv('../vehicles/vehicles.csv', index=False)

# Export tab-delimited file
data1.to_csv('../vehicles/vehicles_tab.txt', sep='\t', index=False)

# Export pipe-delimited file
data2.to_csv('../vehicles/vehicles_pipe.txt', sep='|', index=False)

In [7]:
#Importing and Exporting Excel
data4 = pd.read_excel('../vehicles/vehicles.xlsx')
print(data4.head(3))
data4.to_excel('../vehicles/vehicles.xlsx', index=False)

         Make                Model  Year  Engine Displacement  Cylinders  \
0  AM General    DJ Po Vehicle 2WD  1984                  2.5          4
1  AM General     FJ8c Post Office  1984                  4.2          6
2  AM General  Post Office DJ5 2WD  1985                  2.5          4

      Transmission        Drivetrain                Vehicle Class Fuel Type  \
0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
1  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
2  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD   Regular

   Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0          19.388824        18           17            17
1          25.354615        13           13            13
2          20.600625        16           17            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100

In [8]:
#Importing and Exporting JSON(Javascript Object Notation)
data5 = pd.read_json('../vehicles/vehicles.json', orient='records')
print(data5.head())
data5.to_json('../vehicles/vehicles.json', orient='records')

   CO2 Emission Grams/Mile  City MPG  Combined MPG  Cylinders  \
0               522.764706        18            17          4
1               683.615385        13            13          6
2               555.437500        16            16          4
3               683.615385        13            13          6
4               555.437500        14            16          6

         Drivetrain  Engine Displacement  Fuel Barrels/Year  Fuel Cost/Year  \
0     2-Wheel Drive                  2.5          19.388824            1950
1     2-Wheel Drive                  4.2          25.354615            2550
2  Rear-Wheel Drive                  2.5          20.600625            2100
3  Rear-Wheel Drive                  4.2          25.354615            2550
4  Rear-Wheel Drive                  3.8          20.600625            2550

  Fuel Type  Highway MPG              Make                Model  \
0   Regular           17        AM General    DJ Po Vehicle 2WD
1   Regular           13        AM General     FJ8c Post Office
2   Regular           17        AM General  Post Office DJ5 2WD
3   Regular           13        AM General  Post Office DJ8 2WD
4   Premium           21  ASC Incorporated                  GNX

      Transmission                Vehicle Class  Year
0  Automatic 3-spd  Special Purpose Vehicle 2WD  1984
1  Automatic 3-spd  Special Purpose Vehicle 2WD  1984
2  Automatic 3-spd  Special Purpose Vehicle 2WD  1985
3  Automatic 3-spd  Special Purpose Vehicle 2WD  1985
4  Automatic 4-spd                 Midsize Cars  1987

In [22]:
!conda install PyMySQL --yes

WARNING: The conda.compat module is deprecated and will be removed in a future release.
Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /Users/laumaustupa/anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.7.5                |           py37_0         3.0 MB
    conda-package-handling-1.3.10|           py37_0         259 KB
    pymysql-0.9.3              |           py37_0          83 KB
    ------------------------------------------------------------
                                           Total:         3.3 MB

The following NEW packages will be INSTALLED:

  conda-package-han~ pkgs/main/osx-64::conda-package-handling-1.3.10-py37_0
  pymysql            pkgs/main/osx-64::pymysql-0.9.3-py37_0

The following packages will be UPDATED:

  conda                                       4.6.11-py37_0 --> 4.7.5-py37_0



Downloading and Extracting Packages
conda-package-handli | 259 KB    | ##################################### | 100%
conda-4.7.5          | 3.0 MB    | ##################################### | 100%
pymysql-0.9.3        | 83 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [34]:
#Reading Data from Databases
import pymysql
from sqlalchemy import create_engine

In [35]:
engine = create_engine('mysql+pymysql://root:vasarina@localhost/publications')

In [36]:
data = pd.read_sql_query('SELECT * FROM publications.employee', engine)

In [38]:
data.head()

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21

In [39]:
data.to_sql('employee2', engine, if_exists='replace', index=False)