In [10]:
import json
import pandas as pd

In [91]:
data = pd.read_csv('../data/flights.csv')

/Users/laumaustupa/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

AttributeError: 'dict' object has no attribute 'shape'

In [3]:
data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [93]:
df = pd.read_csv('../data/H1.csv')
df = df.sample(n=df.shape[0])

In [94]:
df.shape

(40060, 31)

In [95]:
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
32572,0,74,2017,January,4,24,1,5,2,0,...,No Deposit,240,NULL,0,Transient,99.00,1,2,Check-Out,2017-01-30
3678,0,165,2015,December,53,30,0,4,2,0,...,No Deposit,308,NULL,122,Transient-Party,136.50,0,0,Check-Out,2016-01-03
7402,1,208,2016,August,33,7,2,5,2,0,...,No Deposit,240,NULL,0,Transient,157.50,0,2,Canceled,2016-01-19
16488,0,12,2015,August,35,24,2,5,2,0,...,No Deposit,NULL,NULL,0,Transient,174.14,0,1,Check-Out,2015-08-31
19206,1,92,2016,February,9,26,1,2,2,0,...,Non Refund,134,NULL,0,Transient,79.00,0,0,Canceled,2015-12-10

In [96]:
df.CustomerType.value_counts()

Transient          30209
Transient-Party     7791
Contract            1776
Group                284
Name: CustomerType, dtype: int64

In [97]:
df.shape

(40060, 31)

In [98]:
df.columns

Index(['IsCanceled', 'LeadTime', 'ArrivalDateYear', 'ArrivalDateMonth',
       'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate'],
      dtype='object')

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40060 entries, 32572 to 11323
Data columns (total 31 columns):
IsCanceled                     40060 non-null int64
LeadTime                       40060 non-null int64
ArrivalDateYear                40060 non-null int64
ArrivalDateMonth               40060 non-null object
ArrivalDateWeekNumber          40060 non-null int64
ArrivalDateDayOfMonth          40060 non-null int64
StaysInWeekendNights           40060 non-null int64
StaysInWeekNights              40060 non-null int64
Adults                         40060 non-null int64
Children                       40060 non-null int64
Babies                         40060 non-null int64
Meal                           40060 non-null object
Country                        39596 non-null object
MarketSegment                  40060 non-null object
DistributionChannel            40060 non-null object
IsRepeatedGuest                40060 non-null int64
PreviousCancellations          40060 non-null int64
PreviousBookingsNotCanceled    40060 non-null int64
ReservedRoomType               40060 non-null object
AssignedRoomType               40060 non-null object
BookingChanges                 40060 non-null int64
DepositType                    40060 non-null object
Agent                          40060 non-null object
Company                        40060 non-null object
DaysInWaitingList              40060 non-null int64
CustomerType                   40060 non-null object
ADR                            40060 non-null float64
RequiredCarParkingSpaces       40060 non-null int64
TotalOfSpecialRequests         40060 non-null int64
ReservationStatus              40060 non-null object
ReservationStatusDate          40060 non-null object
dtypes: float64(1), int64(17), object(13)
memory usage: 9.8+ MB

In [100]:
y = df["IsCanceled"]

In [101]:
df['IsCanceled'].dtype == 'int64'

num = []
cat = []
for col in df.columns:
    if df[col].dtype in ["int64", "float64"]:
        num.append(col)
    else:
        cat.append(col)

In [102]:
cat = ['ArrivalDateMonth',
 'Meal',
 'MarketSegment',
 'DistributionChannel',
 'ReservedRoomType',
 'AssignedRoomType',
 'DepositType',
 'CustomerType']

In [103]:
n = 12
print(cat[n])
df[cat[n]]

IndexError: list index out of range

In [104]:
num = ['LeadTime',
 'ArrivalDateYear',
 'ArrivalDateWeekNumber',
 'ArrivalDateDayOfMonth',
 'StaysInWeekendNights',
 'StaysInWeekNights',
 'Adults',
 'Children',
 'Babies',
 'IsRepeatedGuest',
 'PreviousCancellations',
 'PreviousBookingsNotCanceled',
 'BookingChanges',
 'DaysInWaitingList',
 'ADR',
 'RequiredCarParkingSpaces',
 'TotalOfSpecialRequests']

In [105]:
ml = [df[col] for col in num] + [pd.get_dummies(df[col]) for col in cat]
df_ml = pd.concat(ml, axis=1)

In [106]:
len(df_ml.columns)

72

In [107]:
n = 35000



y_train = df["IsCanceled"].iloc[0:n]

X_train = df_ml.iloc[0:n] 



y_test = df["IsCanceled"].iloc[n:]

X_test = df_ml.iloc[n:]

In [108]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier


df_ml.columns


lr = LogisticRegression()
rf = RandomForestClassifier()
#lr.fit(X_train,y_train)
rf.fit(X_train,y_train)

/Users/laumaustupa/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [109]:
from sklearn.metrics import confusion_matrix

In [110]:
pred = rf.predict(X_test)

confusion_matrix(y_test, pred)

array([[3443,  206],
       [ 458,  953]])

In [90]:
df['IsCanceled'].value_counts(normalize=True)

0    0.722366
1    0.277634
Name: IsCanceled, dtype: float64